@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #b383e2;
  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
  margin: 50px 0 30px;
}

form {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: #d5d5d5;
}

.input:-ms-input-placeholder {
  color: #d5d5d5;
}

.input::-ms-input-placeholder {
  color: #d5d5d5;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: #b383e2;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

.tasks-container {
  margin: 0 auto;
  width: 400px;
}

.task {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.task__title {
  margin: 0 35px 0 0;
}

.task__title__complete {
  color: #b6b6b6;
  text-decoration: line-through;
  margin: 0 35px 0 0;
}

.task__text {
  display: none;
  margin: 30px 0 0;
}

.task__date {
  margin: 30px 0 0;
}

.task__date__over {
  color: red;
  margin: 30px 0 0;
}

.task__check {
  margin: 30px 0 0;
  float: left;
}

.task.active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.task.active .task__text {
  display: block;
}

.task__toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.task__toggle:focus {
  outline: 0;
}

.task__toggle .fa-times {
  display: none;
}

.active .task__toggle .fa-times {
  color: #fff;
  display: block;
}

.active .task__toggle .fa-chevron-down {
  display: none;
}

.active .task__toggle {
  background-color: #9fa4a8;
}
